.activityChatComponent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 20rem;
    width: 100%;
}

.activityChatComponent input {
    margin-top: auto;
    padding-top: 1rem;
    width: 95%;
    height: 2rem;
    border: 0;
    border-bottom: 1px solid var(--main-color);
}

.activityChatComponent__messages-list {
    width: 100%;
    max-height: 18rem;
    min-height: 18rem;
    overflow-y: scroll;
}