.activityUpdateComponent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    border-radius: .3rem;
    border: 1px solid var(--main-color);
    min-height: 7rem;
    margin-top: 1rem;
    padding: 1rem;
}

.activityUpdateComponent__description {
    width: 100%;
    line-height: 1em;
    max-height: 5em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.activityUpdateComponent__details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.activityUpdateComponent__b {
    font-weight: 700;
}