.activityChatComponent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 20rem;
    width: 100%;
}

.activityChatComponent input {
    margin-top: auto;
    padding-top: 1rem;
    width: 95%;
    height: 2rem;
    border: 0;
    border-bottom: 1px solid var(--main-color);
}

.activityChatComponent__messages-list {
    width: 100%;
    max-height: 18rem;
    min-height: 18rem;
    overflow-y: scroll;
}

.activityChatComponent__input {
    width: 95%;
}

.activityChatComponent__inputBtn {
    display: none;
}

@media (max-width: 768px) {


    .activityChatComponent__input {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .activityChatComponent__input input {
        width: 80%;
        padding: 0;
    }

    .activityChatComponent__inputBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 2rem;
        background-color: var(--main-color);
        color: white;
        cursor: pointer;
    }

    .activityChatComponent__input input::placeholder {
        font-size: 8px;
    }
}