.projectComponent {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
}

.projectComponent__container {
    padding: 2rem;
}

.projectComponent__heading {
    width: 100%;
    text-align: center;
}

.projectComponent__heading-nb {
    font-weight: normal;
}

.projectComponent__participants {
    width: 100%;
    text-align: center;
    font-size: 15px;
}

.projectComponent__participants-b {
    font-weight: 700;
}

.projectComponent__fabContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: 1rem;
    position: fixed;
    width: 85vw;
    max-width: 100rem;
}

.projectComponent__activityFab {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    cursor: pointer;
}

.projectComponent__activityFab .MuiSvgIcon-root {
    fill: white;
    font-size: 36px;
    pointer-events: none;
    transition: .5s;
}

.projectComponent__activityFab:hover .MuiSvgIcon-root {
    transform: rotate(180deg);
    transition: .5s;
}

.projectComponent__activities {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem;
}

.projectComponent__nactivities {
    font-size: 13px;
}

.projectComponent__activities h3 {
    margin-top: 1.5rem;
    width: 100%;
    text-align: right;
    font-size: 15px;
}

.projectComponent__activities-backlog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projectComponent__activities-inProgress {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projectComponent__activities-complete {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 768px) {
    .projectComponent__container {
        padding: 1rem;
    }

    .projectComponent__heading {
        padding-top: 2rem;
    }

    .projectComponent__activities {
        padding: 0;
    }

    .projectComponent__activities hr {
        width: 100%;
    }

    .projectComponent__fabContainer {
        width: 100%;
    }
}