.projectActivityComponent {
    width: 20rem;
    min-height: 8rem;
    height: auto;
    margin-top: 1.5rem;
    margin-right: 1rem;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    cursor: pointer;
    transition: all .2s;
}

.projectActivityComponent a {
    text-decoration: none;
    color: inherit;
}

.projectActivityComponent:hover {
    transform: scale(1.02, 1.02);
    transition: all .2s;
}


.projectActivityComponent.complete {
    border: 1px solid var(--complete-color);
    background-color: var(--complete-color-bg);
}

.projectActivityComponent.inProgress {
    border: 1px solid var(--in-progress-color);
    background-color: var(--in-progress-color-bg);
}

.projectActivityComponent.backlog {
    border: 1px solid var(--backlog-color);
    background-color: var(--backlog-color-bg);
}

.projectActivityComponent__title {
    display: flex;
    line-height: 1em;
    max-height: 2em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    justify-content: center;
    align-items: flex-start;
    height: 33%;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.projectActivityComponent__description {
    line-height: 1em;
    max-height: 2em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 33%;
    width: 100%;
    font-weight: 300;
    font-size: 14px;
}

.projectActivityComponent__timestamp {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 33%;
    width: 100%;
    font-weight: 300;
    font-size: 10px;
}

@media (max-width: 768px) {
    .projectActivityComponent {
        width: 33%;
        min-height: 4rem;
    }

    .projectActivityComponent__title {
        font-size: 13px;
        line-height: 1em;
        max-height: 1em;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }

    .projectActivityComponent__description {
        font-size: 10px;
        -webkit-line-clamp: 1;
        line-height: 1em;
        max-height: 1em;
    }

    .projectActivityComponent__timestamp {
        font-size: 10px;
        height: 3em;
    }
}