.sidebarComponent {
    height: 100vh;
}

.sidebarComponent__container {
    height: 100%;
    width: 15vw;
    min-width: 20rem;
    background-color: var(--main-color);
}

.sidebarComponent__header {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarComponent__header a {
    text-decoration: none;
}

.sidebarComponent__header h2 {
    color: white;
}

.sidebarComponent__header p {
    margin: 1rem 0;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}

.sidebarComponent__header-email {
    font-size: 10px;
    font-weight: 300;
    text-transform: lowercase;
}

.sidebarComponent__header-addons {
    display: flex;
}

.sidebarComponent__header-addons .MuiSvgIcon-root {
    margin: 0 .3rem;
    font-size: 22px;
    fill: white;
    cursor: pointer;
    transition: all .5s;
}

.sidebarComponent__header-addons .MuiSvgIcon-root:hover {
    fill: var(--main-color-accent);
    transform: scale(1.1, 1.1);
    transition: all .5s;
}

.sidebarComponent__notification {
    position: relative;
}

.sidebarComponent__notification-badge {
    background-color: red;
    border-radius: .3rem;
    color: white;
    padding: 1px 3px;
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 3px;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgb(255, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgb(255, 0, 0, 0);
        ;
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgb(255, 0, 0, 0);
        ;
    }
}


.sidebarComponent__projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarComponent__projects h3 {
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

.sidebarComponent__projects h3 .MuiSvgIcon-root {
    margin-right: .4rem;
}

.sidebarComponent__addProject {
    margin-top: 1rem;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    border-radius: .3rem;
    background-color: var(--main-color-accent-secondary);
    transition: all .2s;
}

.sidebarComponent__addProject .MuiSvgIcon-root {
    fill: white;
    transition: all .5s;
}

.sidebarComponent__addProject:hover {
    background-color: var(--main-color-accent);
    cursor: pointer;
    transition: all .2s;
}

.sidebarComponent__addProject:hover .MuiSvgIcon-root {
    transform: rotate(180deg);
    transition: all .5s;
}

@media (max-width: 768px) {
    .sidebarComponent__container {
        z-index: 1;
        position: absolute;
        width: 100%;
        display: block;
        left: -100%;
        transition: linear .5s;
    }

    .sidebarComponent__container.show {
        background-color: var(--main-color-accent);
        position: absolute;
        width: 100%;
        display: block;
        left: 0;
        transition: linear .5s;
    }
}