.notificationsComponent {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notificationsComponent__notification {
    font-weight: 300;
    padding: .3rem;
}

.notificationsComponent p {
    text-align: center;
}

.notificationsComponent a {
    color: var(--main-color);
}

.notificationsComponent ul {
    max-height: 10rem;
    overflow-y: scroll;
    padding: 1rem;
}

.notificationsComponent ul li {
    font-size: 14px;
}

.notificationsComponent__markAllBtn {
    width: auto;
    color: white;
    margin: 1rem;
    padding: .5rem;
    background-color: var(--main-color-accent);
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: all .2s;
}

.notificationsComponent__markAllBtn:hover {
    background-color: var(--main-color-accent-secondary);
    transition: all .2s;
}

@media (max-width: 768px) {
    .notificationsComponent {
        padding: 0 2rem;
    }
}