@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");

:root {
  --heading: "Merriweather", serif;
  --main-color: rgb(208, 69, 64, 0.95);
  --main-color-accent: rgb(208, 69, 64, 1);
  --main-color-accent-secondary: rgb(208, 69, 64, 0.98);
  --secondary-color: #BDBDBD;
  --backlog-color: rgb(0, 176, 255);
  --in-progress-color: rgb(255, 202, 40);
  --complete-color: rgb(100, 221, 23);
  --backlog-color-bg: rgb(0, 176, 255, 0.3);
  --in-progress-color-bg: rgb(255, 202, 40, 0.3);
  --complete-color-bg: rgb(100, 221, 23, 0.3);
  /* --main-color: rgb(24, 81, 94, 0.95);
  --main-color-accent: rgb(24, 81, 94, 1);
  --main-color-accent-secondary: rgb(24, 81, 94, 0.98); */

}

* {
  font-family: var(--heading);
  padding: 0;
  margin: 0;
}