.homeComponent {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeComponent a {
    color: var(--main-color);
}

.homeComponent-nb {
    font-weight: 300;
}

.homeComponent ul {
    margin: 1rem;
}

.homeComponent__info-head {
    font-size: 15px;
}

.homeComponent ul li {
    display: flex;
    align-items: center;
    padding: .05rem;
    font-size: 13px;
    min-height: 1.5rem;
}

.homeComponent ul li .MuiSvgIcon-root {
    fill: var(--main-color);
    margin-left: .2rem;
}

.homeComponent hr {
    border: 0;
    height: 1px;
    background-color: var(--main-color);
    width: 50%;
    margin: 1rem;
}

@media (max-width: 768px) {

    .homeComponent h2 {
        text-align: center;
        padding-top: 3rem;
    }

    .homeComponent hr {
        width: 90%;
    }

    .homeComponent__info-head {
        text-align: center;
        padding: 1rem;
    }

    .homeComponent ul {
        margin: 0;
        padding: 1rem;
    }

    .homeComponent ul li {
        padding: .3rem;
        min-height: 1.5rem;
        display: inline-flex;
    }
}